:root {
	--grey:	#f4f5f6;
	--underline: #d1d1d1;
	--violet: #9b4dca;
	--strong-violet: #9c27b0;

	--red: #e53935;

	--green: #8bc34a;
}

.container {
	max-width: 85rem;
}

i.material-icons {
	vertical-align: middle;
}

button i.material-icons {
	font-size: 18px;
}

.flex-wrapper {
	display: flex;
}

.flex-wrapper.split > * {
	flex: 0 0 50%;
	box-sizing: border-box;
}
.flex-wrapper.split > *:not(:last-child) {
	margin-right: 60px;
}

.flex-wrapper > *:not(:last-child) {
	margin-right: 5px;
}
.center {
	text-align: center;
}
.grey {
	background: var(--grey);
}
.white {
	background: white;
}

.flash-message {
	position: fixed;
	top: 100px;
	right: 70px;
	padding: 20px 50px;
	color: white;

	border: 1px solid #eee;
	transition: all 0.3s ease-in-out;
}

.flash-message.message {
	background: var(--green);
}

.flash-message.error {
	background: var(--red);
}